
#planet_details{
    display: none;
}
#logout{
    display: none;
}
#loading{
    display: none;
}
@media (max-width: 576px) {
    .btn-responsive {
        width: 100%;
    }
    .planet{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .btn-responsive {
        width: 75%;
    }
        .planet {
            width: 20rem;
        }
}

@media (min-width: 768px) {
    .btn-responsive {
        width: 20rem;
    }
        .planet {
            width: 20rem;
        }
}
#after-login{
    display: none;
}
#after-register {
    display: none;
}